@model CommunityConnections.ViewModels.AdsListingViewModel

@{
    ViewBag.Title = "MainScreenPartial";
}


<style>

    .pages {
        background-color: white;
        width: 1.62in;
        height: 2.68in;
        border: solid 1px;
        float:left;
    }
</style>

<div class="form-row MainScreenContainer">
    <div class="form-group col-md-12">
        <div class="droppable pages">
            @foreach (var item in Model.AdsOnPage)
            {

            }
        </div>
        <div style="margin-left:1px;" class="droppable pages">

        </div>
        <input id="files" style="display:none;" type="file" />
        <label id="uploadAdlabel" for="files" style="position: relative; height: 44px; margin-left: -210px; margin-top: 100px; " class="btn btn-success">Upload Ad</label>

    </div>
</div>