@model CommunityConnections.ViewModels.MainScreenViewModel
@{
    ViewBag.Title = "AdsView";
}

<div id="actionContainer" class="card">
    <div class="card-body">

        <div class="row">
            <div class="col-md-6">

               
                <h1 style="font-size:100px;">@Model.Customer.FullName</h1>
            </div>

        </div>
    </div>
</div>


